{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container mb-3">
        <div class="row">
            <div class="col-10">
                <h1>{{ title }}</h1>
            </div>
            <div class="col-2">
                <a href="{% url 'authors' %}" class="btn btn-success mt-2 float-right">Список авторів</a>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table table-dark table-striped table-bordered">
            <tbody>
                <tr>
                    <th>Призвище</th>
                    <td>{{ author.surname }}</td>
                </tr>
                <tr>
                    <th>Ім'я</th>
                    <td>{{ author.name }}</td>
                </tr>
                <tr>
                    <th>По батькові</th>
                    <td>{{ author.patronymic }}</td>
                </tr>

                <tr>
                    <th>Книги</th>
                    <td>
                        {% for book in books %}
                            <p>"{{ book.name }}"</p>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}