{% extends 'base.html' %}
{% block content %}
<h4>We can see users that does not hand over books on time <a href="/order/bad_users/">Bad users</a></h4>
<form action="/order/create_order/">
    <button class="btn btn-success" type="submit">Add order</button>
</form>
<h1>Here we can see the list of all orders for any user</h1>
<div class="container">
        <table class="table table-dark table-striped table-bordered">
            <tbody>
                {% for order in page_obj %}
                <tr>
                    <td>
                        <a href="/order/{{ order.id }}/">{{ order.user.first_name }} {{ order.user.last_name }}{{ order.book.name }}</a>
                         {{ order.plated_end_at|date:"D d M Y" }}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>м
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

